@font-face {
    font-family: 'audiowideregular';
    src: url('audiowide-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
h1 {
    font-family: 'audiowideregular';
    color: #C6FCFF;
}